/* -----------------about section----------------- */


#About .row {
    /* padding-left: 40px; */
    display: grid;
    grid-template-columns: auto auto;
}

#About .content ul {
    list-style: none;
}

#About .content ul li {
    padding: 20px 0;
}