/* -- -----------------------------Health-Status----------- -- */
#Health-Status{
    background-color: var(--section);
}
#Health-Status .row{
    display: grid;
    grid-template-columns: 50% 50%;
}
#Health-Status .row p{
    font-size: 24px;
    padding: 20px 0;
}




